html{
	background:#D8D8D8}
h1{
	color: #1D1D1C;
	size:20px;
}
a{
	border-radius:5px;
	background:#FFD275;
	color: #FFF;
	border:0px;
	margin: 5px 10px 5px 10px;
	padding: 10px;
}

.textbox{
	border-radius:5px;
	background:#EFEFEF;
	color: #2a4849;
	border:1px;
	width: 85%;
	height: 30px;
	margin: 5px 0px 5px 0px;
	padding: 5px;
}
.formulario{
	margin-top: 10%;
	text-align:center;
	display:block;
  	margin-left: auto;
  	margin-right: auto;
	padding:20px;
	border-radius:10px;
	background:#9b9b9b;
	width: 35%;
}

.aceptar{
	border-radius:5px;
	background:#000000;
	color: #FFF;
	border:0px;
	margin: 5px 10px 5px 10px;
	padding: 10px;
	margin: 100 px;
}

.exito{
	margin-top: 10%;
	text-align:center;
	display:block;
  	margin-left: auto;
  	margin-right: auto;
	padding:20px;
	border-radius:10px;
	background:#9b9b9b;
	width: 35%;
	
}